* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1350px;
  background-image: url(../img/cover.png);
}

.container {
  width: 950px;
  margin: 0 auto;
}

.header {
  background-color: #749c8d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 1350px;
}

.header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0px;
}

.header .header-wrap .header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .header-wrap .header-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header-wrap .header-social ul li {
  margin: 0px 5px;
}

.header .header-wrap .header-social ul li a {
  display: block;
  width: 41px;
  height: 41px;
  text-decoration: none;
  background-image: url(../img/sprite-social.png);
}

.header .header-wrap .header-social ul li .social-vk {
  background-position: 0px 0px;
}

.header .header-wrap .header-social ul li .social-in {
  background-position: -53px 0px;
}

.header .header-wrap .header-social ul li .social-fb {
  background-position: -106px 0px;
}

.promo {
  width: 100%;
  position: relative;
}

.promo .promo-label {
  position: absolute;
  right: 45px;
  top: 215px;
}

.goods {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

.goods h1 {
  color: #004734;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 100px;
}

.goods h1 span {
  color: #de4814;
  font-size: 40px;
}

.goods .goods-promo {
  position: absolute;
  top: -25px;
  left: 180px;
  z-index: -1;
}

.goods .goods-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.goods .goods-wrap .goods-item {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9ecf2;
  border-radius: 5px;
  position: relative;
  padding-bottom: 7px;
  margin: 30px 35px;
  -webkit-box-shadow: -1px 4px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 4px 12px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}

.goods .goods-wrap .goods-item .discount {
  position: absolute;
  top: -14px;
  right: -9px;
}

.goods .goods-wrap .goods-item .goods-item-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-img {
  width: 200px;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons .price {
  width: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fbfcfd;
  padding-left: 20px;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons .price .price-old {
  color: #575757;
  font-size: 30px;
  text-decoration: line-through;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons .price .price-new {
  color: #de4814;
  font-size: 36px;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons .btn-order {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #3ab16f;
  padding: 10px 50px;
  margin: 10px 0;
  cursor: pointer;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons .btn-info {
  color: #b83b11;
  font-size: 22px;
  border: 1px solid #e96c41;
  background-color: #fff;
  padding: 9px 43px;
  cursor: pointer;
}

.goods .goods-wrap .goods-item .goods-item-promo .goods-item-promo-buttons a {
  color: #b83b11;
  text-decoration: none;
  border-bottom: 1px dotted #b83b11;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
  margin-right: 13px;
  cursor: pointer;
}

.goods .goods-wrap .goods-item .goods-item-info {
  margin-top: 30px;
  padding-left: 20px;
}

.goods .goods-wrap .goods-item .goods-item-info h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

.goods .goods-wrap .goods-item .goods-item-info span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 25px;
}

.goods .goods-wrap .goods-item .goods-item-info p {
  color: #004734;
  margin: 10px 0px;
  line-height: 1.5;
}

.goods .goods-wrap .goods-item .goods-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding-bottom: 15px;
}

.goods .goods-wrap .goods-item .goods-item-social span {
  font-size: 14px;
  color: #aeaeae;
  padding: 12px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.goods .goods-wrap .goods-item .goods-item-social ul li {
  margin: 0 6px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li a {
  display: block;
  width: 28px;
  height: 27px;
  text-decoration: none;
  background-image: url(../img/sprite-social-item.png);
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-vk {
  background-position: 0px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-ins {
  background-position: -39px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-fb {
  background-position: -77px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-od {
  background-position: -115px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-y {
  background-position: -155px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-in {
  background-position: -194px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-l {
  background-position: -233px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-m {
  background-position: -272px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-ya {
  background-position: -310px 0px;
}

.goods .goods-wrap .goods-item .goods-item-social ul li .item-social-g {
  background-position: -349px 0px;
}

.goods .goods-wrap .goods-item .modal {
  display: none;
  width: 420px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  position: absolute;
  left: 0px;
  bottom: 1px;
  padding: 10px 10px;
  z-index: 2;
}

.goods .goods-wrap .goods-item .modal .modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods .goods-wrap .goods-item .modal .modal-close span {
  color: #bf2426;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid #bf2426;
  border-radius: 50%;
  padding-left: 10px;
  padding-bottom: 7px;
  cursor: pointer;
}

.goods .goods-wrap .goods-item .modal p {
  color: #004734;
  margin: 13px 0px;
  line-height: 1.5;
}

.email {
  background-color: #80c9b0;
  border: 2px dotted #608f7f;
  padding: 22px 0px;
  margin-bottom: 60px;
  position: relative;
}

.email .email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.email .email-form input {
  font-size: 16px;
  border: 1px solid #608f7f;
  padding: 10px 40px;
}

.email .email-form button {
  color: #fff;
  font-size: 16px;
  padding: 10px 40px;
  border: none;
  background-color: #de0d08;
}

.email .arrow-left {
  position: absolute;
  left: -150px;
}

.email .arrow-right {
  position: absolute;
  right: -140px;
  top: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a4a4a5;
  padding: 70px 0px;
}

.footer .footer-info, .footer .footer-public, .footer .footer-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5px 0;
}

.footer .footer-info a, .footer .footer-public a, .footer .footer-login a {
  color: #fff;
  opacity: 0.7;
  text-decoration: underline;
}

.footer .footer-info span, .footer .footer-public span, .footer .footer-login span {
  color: #fff;
  opacity: 0.7;
  margin: 0 5px;
}
/*# sourceMappingURL=main.css.map */