.email {
  background-color: #80c9b0;
  border: 2px dotted #608f7f;
  padding: 22px 0px;
  margin-bottom: 60px;
  position: relative;
  .email-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    input {
      font-size: 16px;
      border: 1px solid #608f7f;
      padding: 10px 40px;
    }
    button {
      color: #fff;
      font-size: 16px;
      padding: 10px 40px;
      border: none;
      background-color: #de0d08;
    }
  }
  .arrow-left {
    position: absolute;
    left: -150px;
  }

  .arrow-right {
    position: absolute;
    right: -140px;
    top: 20px;
  }
}