.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a4a4a5;
  padding: 70px 0px;
  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px 0;
    a {
      color: #fff;
      opacity: 0.7;
      text-decoration: underline;
    }
    span {
      color: #fff;
      opacity: 0.7;
      margin: 0 5px;
    }
  }
  .footer-public {
    @extend .footer-info
  }
  .footer-login {
    @extend .footer-info
  }
}