.goods {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  h1 {
    color: #004734;
    font-size: 35px;
    text-transform: uppercase; 
    text-align: center;
    margin-bottom: 100px;
    span {
      color: #de4814;
      font-size: 40px;
    }
  }
  .goods-promo {
    position: absolute;
    top: -25px;
    left: 180px;
    z-index: -1;
  }
  .goods-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    .goods-item {
      width: 440px;
      display: flex;
      flex-direction: column;
      background-color: #e9ecf2;
      border-radius: 5px;
      position: relative;
      padding-bottom: 7px;
      margin: 30px 35px;
      box-shadow: -1px 4px 12px 0px rgba(0,0,0,0.3);
      position: relative;
      .discount {
        position: absolute;
        top: -14px;
        right: -9px;
      }
      .goods-item-promo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-top: 25px;
        .goods-item-promo-img {
          width: 200px;
        }
        .goods-item-promo-buttons {
          width: 220px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          .price {
            width: 189px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            background-color: #fbfcfd;
            padding-left: 20px;
            .price-old {
              color: #575757;
              font-size: 30px;
              text-decoration: line-through;
            }
            .price-new {
              color: #de4814;
              font-size: 36px;
            }
          }
          .btn-order {
            color: #fff;
            font-size: 22px;
            text-transform: uppercase;
            background-color: #3ab16f;
            padding: 10px 50px;
            margin: 10px 0;
            cursor: pointer;
          }
          .btn-info {
            color: #b83b11;
            font-size: 22px;
            border: 1px solid #e96c41;
            background-color: #fff;
            padding: 9px 43px;
            cursor: pointer;
          }
          a {
            color: #b83b11;
            text-decoration: none;
            border-bottom: 1px dotted #b83b11;
            align-self: flex-end;
            margin-top: 5px;
            margin-right: 13px;
            cursor: pointer;
          }
        }
      }
      .goods-item-info {
        margin-top: 30px;
        padding-left: 20px;
        h2 {
          font-size: 20px;
          text-transform: uppercase;
          text-decoration: underline;
        }
        span {
          font-size: 20px;
          text-transform: uppercase;
          line-height: 1.5;
          margin-bottom: 25px;
        }
        p {
          color: #004734;
          margin: 10px 0px;
          line-height: 1.5;
        }
      }
      .goods-item-social {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding-bottom: 15px;
        span {
          font-size: 14px;
          color: #aeaeae;
          padding: 12px 0px;
        }
        ul {
          display: flex;
          list-style: none;
          li {
            margin: 0 6px;
            a {
              display: block;
              width: 28px;
              height: 27px;
              text-decoration: none;
              background-image: url(../img/sprite-social-item.png);
            }
            .item-social-vk {
              background-position: 0px 0px;
            }
            .item-social-ins {
              background-position: -39px 0px;
            }
            .item-social-fb {
              background-position: -77px 0px;
            }
            .item-social-od {
              background-position: -115px 0px;
            }
            .item-social-y {
              background-position: -155px 0px;
            }
            .item-social-in {
              background-position: -194px 0px;
            }
            .item-social-l {
              background-position: -233px 0px;
            }
            .item-social-m {
              background-position: -272px 0px;
            }
            .item-social-ya {
              background-position: -310px 0px;
            }
            .item-social-g {
              background-position: -349px 0px;
            }
          }
        }
      }
      .modal {
        display: none;
        width: 420px;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 5px;
        position: absolute;
        left: 0px;
        bottom: 1px;
        padding: 10px 10px;
        z-index: 2;
        .modal-close {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          span {
            color: #bf2426;
            font-size: 18px;
            display: flex;
            width: 20px;
            height: 20px;
            border: 1px solid #bf2426;
            border-radius: 50%;
            padding-left: 10px;
            padding-bottom: 7px;
            cursor: pointer;
          }
        }
        p {
          color: #004734;
          margin: 13px 0px;
          line-height: 1.5;
        }
      }
    }
  }
}