.header {
  background-color: #749c8d;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 1350px;
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    .header-social {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0px 5px;
          a {
            display: block;
            width: 41px;
            height: 41px;
            text-decoration: none;
            background-image: url(../img/sprite-social.png);
          }
          .social-vk {
            background-position: 0px 0px;
          }
          .social-in {
            background-position: -53px 0px;
          }
          .social-fb {
            background-position: -106px 0px;
          }
        }
      }
    }
  }
}