* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
  max-width: 1350px;
  background-image: url(../img/cover.png);
}

.container {
  width: 950px;
  margin: 0 auto;
}

@import 'header';
@import 'promo';
@import 'goods';
@import 'email';
@import 'footer';